@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --primary-1: #0033aa;
  --primary-2: #0055cc;
  --primary-3: #0077ff;
  --primary-4: #1199ff;
  --primary-5: #22bbff;
  --b1: #111122;
  --b2: #222233;
  --b3: #334455;
  --w1: #edf1f7;
  --w2: #eeeeee;
  --w3: #bbccdd;
  --project: #bbccdd;
  --project-info: #9393a6;
}

.dark-mode:root {
  --primary-1: #0033aa;
  --primary-2: #0055cc;
  --primary-3: #0077ff;
  --primary-4: #1199ff;
  --primary-5: #ff8822;
  --b1: #edf1f7;
  --b2: #eeeeee;
  --b3: #bbccdd;
  --w1: #111122;
  --w2: #222233;
  --w3: #334455;
  --project: #222233;
  --project-info: #5a6169;
}

.c-title {
  display: flex;
  justify-content: center;
  font: 700 2rem/1.33 "Roboto", Helvetica, Arial, sans-serif;
  color: #0077ff;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 44px;
  position: relative;
}
.c-title::after {
  content: "";
  width: 50px;
  height: 5px;
  bottom: -20px;
  background: #0077ff;
  position: absolute;
}
.c-title::before {
  content: "";
  width: 150px;
  height: 1px;
  bottom: -18px;
  background: var(--b2);
  position: absolute;
}

#contact .c-title {
  margin-bottom: 0 !important;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 12px 20px;
  position: fixed;
  width: calc(100% - 40px);
  background: var(--w1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  z-index: 999;
  overflow-x: hidden;
}
@media (max-width: 900px) {
  #header {
    width: calc(100% - 32px);
  }
}
#header .c-brand {
  display: flex;
}
#header .c-menu {
  display: grid;
  align-items: center;
  justify-items: center;
}
@media (max-width: 900px) {
  #header .c-menu.is-active > .c-list-menu {
    visibility: visible;
    width: 260px;
    left: 0px;
  }
}
#header .c-menu__button {
  display: none;
}
@media (max-width: 900px) {
  #header .c-menu__button {
    display: block;
    background: #22bbff;
    padding: 10px;
    border-radius: 50%;
    border: none;
    place-self: center;
    position: fixed;
    cursor: pointer;
    top: 6px;
    right: 12px;
    z-index: 2;
  }
  #header .c-menu__button:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}
#header .c-menu .c-list-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 900px) {
  #header .c-menu .c-list-menu {
    position: fixed;
    display: grid;
    align-content: center;
    visibility: hidden;
    background: var(--w2);
    width: 0;
    height: 100vh;
    top: 0;
    left: -200px;
    z-index: 1;
    transition: 0.7s ease-in-out;
    overflow: hidden;
  }
}
#header .c-menu .c-link > a {
  font: 500 1rem/1 Roboto, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 6px 0;
  border-radius: 5px;
  position: relative;
}
#header .c-menu .c-link > a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: linear-gradient(135deg, #1199ff, #0077ff);
  position: absolute;
}
#header .c-menu .c-link > a:hover {
  transition: 0.3s;
  background-image: linear-gradient(135deg, #1199ff, #0077ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#header .c-menu .c-link > a:hover::after {
  transition: 0.3s;
  width: 100%;
}
@media (max-width: 900px) {
  #header .c-menu .c-link > a {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: var(--w1);
  }
  #header .c-menu .c-link > a:hover {
    color: var(--w1);
    background: linear-gradient(135deg, #1199ff, #0077ff);
    transform: scale(1.4);
  }
  #header .c-menu .c-link > a::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  #header .c-menu .c-link > a {
    font-size: 1.125rem;
  }
}
#header #u-appearenceButton {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  margin-right: 0px;
}
#header #u-appearenceButton input {
  opacity: 0;
  width: 0;
  height: 0;
}
#header #u-appearenceButton input:checked + .c-slider {
  background-color: #303136;
}
#header #u-appearenceButton input:checked + .c-slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
@media (max-width: 900px) {
  #header #u-appearenceButton {
    margin-right: 60px;
  }
}
#header #u-appearenceButton .c-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22bbff;
  transition: 0.4s;
  border-radius: 30px;
}
#header #u-appearenceButton .c-slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

.c-introduction {
  display: grid;
  align-content: center;
  text-align: center;
  color: var(--b1);
  height: 100vh;
  position: relative;
}
.c-introduction::after {
  position: absolute;
  content: "";
  background: linear-gradient(135deg, #0055cc, #1199ff);
  width: 400px;
  height: 800px;
  top: -40px;
  right: 0px;
  clip-path: polygon(100% 15%, 60% 60%, 100% 80%);
  z-index: -1;
}
@media (min-width: 1440px) {
  .c-introduction::after {
    height: 1100px;
  }
}
@media (max-width: 600px) {
  .c-introduction::after {
    display: none;
  }
}
.c-introduction::before {
  position: absolute;
  content: "";
  background: linear-gradient(-45deg, #0055cc, #1199ff);
  width: 400px;
  height: 700px;
  top: 0px;
  left: 0px;
  clip-path: polygon(0 0, 40% 20%, 0 80%);
  z-index: -1;
}
@media (min-width: 1440px) {
  .c-introduction::before {
    height: 700px;
  }
}
@media (max-width: 600px) {
  .c-introduction::before {
    display: none;
  }
}
.c-introduction__title {
  font: 700 4rem/1.12 "Fira Code", Roboto, Helvetica, sans-serif;
  text-decoration: none;
}
@media (max-width: 900px) {
  .c-introduction__title {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .c-introduction__title {
    font-size: 2rem;
  }
}
@media (max-width: 440px) {
  .c-introduction__title {
    font-size: 1.5rem;
  }
}
.c-introduction__subtitle {
  font: 400 1.75rem/1.33 Roboto, Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.c-introduction__subtitle > span {
  background-image: linear-gradient(135deg, #1199ff, #0055cc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 900px) {
  .c-introduction__subtitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .c-introduction__subtitle {
    font-size: 1.25rem;
  }
}
@media (max-width: 440px) {
  .c-introduction__subtitle {
    font-size: 1rem;
  }
}

#profile {
  padding: 60px calc((100% - 1440px) / 2);
}
#profile .c-resume {
  padding: 0 20px;
}
#profile .c-resume__description {
  font: 400 1.25rem/1.5 "Roboto", Helvetica, Arial, sans-serif;
  max-width: 110ch;
  margin: 40px auto;
  text-align: center;
  position: relative;
}
#profile .c-resume__description::after {
  content: "";
  width: 50px;
  height: 5px;
  bottom: -20px;
  right: calc(50% - 25px);
  background: #0077ff;
  position: absolute;
}
#profile .c-resume__description::before {
  content: "";
  width: 150px;
  height: 1px;
  bottom: -18px;
  right: calc(50% - 75px);
  background: var(--b2);
  position: absolute;
}
#profile .c-about {
  display: flex;
  justify-content: start;
  gap: 0 40px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 0 20px;
}
#profile .c-about .c-image {
  max-width: 400px;
  grid-row: 1/4;
}
#profile .c-about .c-image > img {
  clip-path: circle();
}
@media (max-width: 900px) {
  #profile .c-about .c-image {
    display: block;
    place-self: center;
    margin: 20px 0 30px;
  }
}
#profile .c-about .c-job__title {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #0077ff;
}
#profile .c-about .c-job__description {
  font-size: 1.125rem;
  line-height: 1.33;
  max-width: 80ch;
  margin-top: 8px;
  margin-bottom: 24px;
}
#profile .c-about .c-info__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 20px;
  margin-bottom: 24px;
  font-weight: 500;
}
@media (max-width: 600px) {
  #profile .c-about .c-info__list {
    grid-template-columns: 1fr;
  }
}
#profile .c-about .c-info__item {
  display: flex;
  align-items: center;
  gap: 4px;
}
#profile .c-about .c-info__item > span {
  font: 700 1rem/1 Roboto, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #1199ff;
}
#profile .c-about .c-info__item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1199ff;
}
#profile .c-about .c-more__title {
  font: 700 1.125rem/1 Roboto, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--b1);
}
#profile .c-about .c-more__description {
  font-size: 1.125rem;
  line-height: 1.33;
  max-width: 80ch;
  margin-top: 8px;
}
@media (max-width: 900px) {
  #profile .c-about {
    flex-direction: column;
  }
}
#profile strong {
  color: var(--primary-5);
}

.c-graduate {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 60px calc((100% - 1440px) / 2);
}
.c-graduate__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: start;
  padding: 0 20px;
  gap: 0 40px;
}
@media (max-width: 900px) {
  .c-graduate__content {
    grid-template-columns: 1fr;
  }
}
.c-graduate__title {
  grid-row: span 4;
  font-family: "Fira Code", sans-serif;
  font-size: 8rem;
  line-height: 1.12;
  text-transform: uppercase;
  max-width: 4ch;
  word-break: break-all;
  background: linear-gradient(135deg, #1199ff, #0055cc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 900px) {
  .c-graduate__title {
    max-width: none;
    word-break: normal;
    font-size: 2rem;
    text-align: center;
    color: #0077ff;
    margin-bottom: 60px;
    position: relative;
  }
  .c-graduate__title::after {
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    bottom: -22px;
    background: #0077ff;
    position: absolute;
  }
  .c-graduate__title::before {
    content: "";
    width: 150px;
    height: 1px;
    bottom: -20px;
    background: var(--b2);
    position: absolute;
  }
}
.c-graduate__pastes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.c-graduate__pastes__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  margin: 0 20px 8px 8px;
  padding: 20px;
  min-height: 200px;
  background: #0077ff;
  border-radius: 4px;
  box-shadow: -8px 8px 0 #0042dd;
  position: relative;
}
.c-graduate__pastes__items::after {
  content: "";
  width: 20px;
  height: 70px;
  right: -20px;
  bottom: 20px;
  background: #0077ff;
  border-radius: 0 8px 8px 0;
  position: absolute;
}
.c-graduate__pastes__items::before {
  content: "";
  width: 12px;
  height: 70px;
  right: -12px;
  bottom: 91px;
  background: #0042dd;
  border-radius: 0 8px 8px 0;
  position: absolute;
}
.c-graduate__pastes__items > p {
  display: grid;
  gap: 6px;
  font: 500 1.25rem/1 "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #edf1f7;
  margin-bottom: 24px;
}
.c-graduate__pastes__items > p > span {
  font-size: 1rem;
  text-transform: lowercase;
  color: #334455;
}
.c-graduate__pastes__items > h3 {
  flex: 1;
  font: 700 1.8rem/1.2 "Roboto", Helvetica, Arial, sans-serif;
  color: #222233;
  margin-bottom: 40px;
}
.c-graduate__pastes__items > span {
  font-size: 1.125rem;
  font-weight: 500;
  color: #334455;
}
.c-graduate__subtitles {
  font: 700 1.25rem/1 "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #0077ff;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .c-graduate__subtitles {
    font-size: 1.125rem;
  }
}
@media (max-width: 440px) {
  .c-graduate__subtitles {
    font-size: 1rem;
  }
}
.c-graduate__infos {
  font-size: 1.5rem;
  margin: 12px 0 0 44px;
}
.c-graduate__infos > li + li {
  margin-top: 8px;
}
.c-graduate__infos > .c-graduate__course__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.c-graduate__infos > .c-graduate__course__items span {
  color: var(--primary-5);
}
.c-graduate__infos > .c-graduate__course__items > a:hover {
  color: var(--primary-5);
  transition: 0.3s;
}
.c-graduate__infos > .c-graduate__language__items > span + span {
  color: var(--primary-5);
}
.c-graduate__infos.graduate {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.c-graduate__infos.graduate li {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background: var(--w2);
  border: 1px solid var(--w3);
}
@media (max-width: 900px) {
  .c-graduate__infos {
    font-size: 1.35rem;
  }
}
@media (max-width: 600px) {
  .c-graduate__infos {
    font-size: 1.25rem;
  }
}
@media (max-width: 440px) {
  .c-graduate__infos {
    font-size: 1.125rem;
  }
}

.c-skills {
  font: 600 1rem/1 "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.08rem;
  position: relative;
  padding: 60px calc((100% - 1440px) / 2);
}
.c-skills::after {
  position: absolute;
  content: "";
  background: linear-gradient(135deg, #0055cc, #1199ff);
  width: 400px;
  height: 800px;
  top: -40px;
  right: 0px;
  clip-path: polygon(100% 15%, 60% 60%, 100% 80%);
  z-index: -1;
}
@media (min-width: 1440px) {
  .c-skills::after {
    height: 1100px;
  }
}
@media (max-width: 600px) {
  .c-skills::after {
    display: none;
  }
}
.c-skills::before {
  position: absolute;
  content: "";
  background: linear-gradient(-45deg, #0055cc, #1199ff);
  width: 400px;
  height: 700px;
  top: 0px;
  left: 0px;
  clip-path: polygon(0 0, 40% 20%, 0 80%);
  z-index: -1;
}
@media (min-width: 1440px) {
  .c-skills::before {
    height: 700px;
  }
}
@media (max-width: 600px) {
  .c-skills::before {
    display: none;
  }
}
.c-skills__title {
  display: flex;
  justify-content: center;
  font: 700 2rem/1.33 "Roboto", Helvetica, Arial, sans-serif;
  color: #0077ff;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 44px;
  position: relative;
}
.c-skills__title::after {
  content: "";
  width: 50px;
  height: 5px;
  bottom: -20px;
  background: #0077ff;
  position: absolute;
}
.c-skills__title::before {
  content: "";
  width: 150px;
  height: 1px;
  bottom: -18px;
  background: var(--b2);
  position: absolute;
}
.c-skills__checkbox {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  padding: 0 20px;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .c-skills__checkbox {
    display: none;
  }
}
.c-skills__label {
  cursor: pointer;
}
.c-skills__button {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #ff8822;
  transition: transform 0.4s ease-in-out;
}
.c-skills__switcher {
  display: flex;
  align-items: center;
  width: 55px;
  height: 25px;
  padding: 4px;
  cursor: pointer;
  border-radius: 50px;
  background: #334455;
  transition: background 0.4s ease-in-out;
}
.c-skills__switcher--active {
  background: #22bbff;
}
.c-skills__switcher--active .c-skills__button {
  transform: translateX(30px);
}
.c-skills__switcher:not(.c-skills__switcher--active) .c-skills__button {
  transform: translateX(0);
}
.c-skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
}
.c-skills__card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 200px;
  flex-grow: 200px;
  height: 200px;
  padding: 30px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  background: var(--w2);
  border-radius: 10px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.c-skills__card:hover .c-skills__content {
  transform: translateY(0px);
  transform: translateZ(50px);
  opacity: 1;
}
.c-skills__content {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.25s ease-in-out;
}
.c-skills__content h3 {
  margin-top: 8px;
}
.c-skills__content--active {
  opacity: 1;
  transform: none;
}
@media (max-width: 900px) {
  .c-skills__content {
    opacity: 1;
    transform: none;
  }
}

.c-projects .u-projects-bg {
  padding: 100px 10px 100px 40px;
  box-shadow: 200px 0 var(--project);
  background: var(--project);
  border-radius: 10px;
}
@media (max-width: 900px) {
  .c-projects .u-projects-bg {
    padding: 0;
    box-shadow: 0 -100px var(--project);
  }
}
@media (max-width: 440px) {
  .c-projects .u-projects-bg {
    box-shadow: 0 -80px var(--project);
  }
}
.c-projects__content {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  align-items: center;
}
.c-projects__content + .c-projects__content {
  margin-top: 30px;
}
.c-projects__content:last-child {
  margin-bottom: 60px;
}
.c-projects__content:nth-child(odd) .c-projects__image {
  display: flex;
  grid-row: 1;
  grid-column: 1/3;
  padding-left: 0;
  padding-right: 30px;
  justify-content: end;
}
.c-projects__content:nth-child(odd) .u-projects-bg {
  grid-column: 3/-1;
  padding: 100px 40px 100px 10px;
  box-shadow: -200px 0 var(--project);
}
@media (max-width: 900px) {
  .c-projects__content:nth-child(odd) .c-projects__image {
    grid-row: 1;
    grid-column: 1;
    padding: 0 20px;
  }
  .c-projects__content:nth-child(odd) .u-projects-bg {
    grid-row: 2;
    grid-column: 1;
    padding: 0;
    box-shadow: 0 -100px var(--project);
  }
}
@media (max-width: 900px) and (max-width: 440px) {
  .c-projects__content:nth-child(odd) .u-projects-bg {
    box-shadow: 0 -80px var(--project);
  }
}
@media (max-width: 900px) {
  .c-projects__content {
    grid-template-columns: 1fr;
  }
}
.c-projects__info {
  text-align: center;
}
.c-projects__info .c-tecnologies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.c-projects__info .c-buttons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  gap: 12px;
}
.c-projects__info .c-buttons__link {
  display: flex;
  font: 700 1rem/1 "Roboto", Helvetica, Arial, sans-serif;
  color: #111122;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 8px;
  background: #0077ff;
  transition: all 0.2s ease-in-out;
}
.c-projects__info .c-buttons__link:hover {
  animation: heartbeat 1.5s ease-in-out both;
  background: #ff7722;
  color: #e1e1e1;
}
@media (max-width: 900px) {
  .c-projects__info {
    padding: 40px 20px;
  }
}
.c-projects__title {
  font: 700 2.5rem/1.12 "Roboto", Helvetica, Arial, sans-serif;
  color: #0077ff;
  margin-bottom: 12px;
}
.c-projects__description {
  font: 400 1rem/1.22 "Roboto", Helvetica, Arial, sans-serif;
  color: var(--b3);
  max-width: 50ch;
  margin: 0 auto 12px auto;
}
.c-projects__image {
  padding-left: 30px;
  grid-column: 2/-1;
}
.c-projects__image > img {
  align-self: center;
  border-radius: 10px;
  max-height: 320px;
}
@media (max-width: 900px) {
  .c-projects__image > img {
    border-radius: 10px;
  }
}
@media (max-width: 900px) {
  .c-projects__image {
    grid-column: 1;
    grid-row: 1;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.c-contact-card {
  margin-bottom: 80px;
  padding: 60px calc((100% - 1440px) / 2);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.c-contact-card .c-content {
  width: 768px;
  height: 432px;
  margin: 0 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  border-radius: 10px;
}
@media (min-width: 1440px) {
  .c-contact-card .c-content {
    width: 1000px;
    height: 562px;
  }
}
.c-contact-card .c-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 0.4s ease-in;
}
.c-contact-card .c-card.is-active {
  clip-path: circle(100%);
  transition-delay: 0s;
  z-index: 2;
}
.c-contact-card .c-card:not(.is-active) {
  transition-delay: 0.2s;
}
.c-contact-card .c-card--email {
  background-color: #ea4335;
  clip-path: circle(5% at 100% 100%);
}
.c-contact-card .c-card--email .c-button {
  background-color: #c99603;
  color: #e1e1e1;
}
.c-contact-card .c-card--email .c-button:hover {
  background-color: #977102;
}
.c-contact-card .c-card--instagram {
  background-color: #e4405f;
  clip-path: circle(5% at 100% 100%);
}
.c-contact-card .c-card--instagram .c-button {
  background-color: #4f5bd5;
}
.c-contact-card .c-card--instagram .c-button:hover {
  background-color: #646eda;
}
.c-contact-card .c-card--linkedin {
  background-color: #0077b5;
  clip-path: circle(5% at 100% 100%);
}
.c-contact-card .c-card--linkedin .c-button {
  background-color: #edf1f7;
  color: #222233;
}
.c-contact-card .c-card--linkedin .c-button:hover {
  background-color: #b8c8df;
}
.c-contact-card .c-card--github {
  background-color: #333333;
  clip-path: circle(5% at 100% 100%);
}
.c-contact-card .c-card--github .c-button {
  background-color: #29933d;
  color: #e1e1e1;
}
.c-contact-card .c-card--github .c-button:hover {
  background-color: #1e6b2c;
}
.c-contact-card .c-card__title {
  font-weight: normal;
  line-height: 1;
  margin-left: 30px;
  color: #edf1f7;
}
@media (min-width: 1440px) {
  .c-contact-card .c-card__title {
    margin-left: 60px;
  }
}
.c-contact-card .c-card__title-emphasis {
  display: inline-block;
  flex: 1;
  font-size: 6rem;
  font-weight: bold;
  width: 100%;
  color: #edf1f7;
}
@media (max-width: 900px) {
  .c-contact-card .c-card__title-emphasis {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  .c-contact-card .c-card__title-emphasis {
    font-size: 4rem;
  }
}
@media (max-width: 440px) {
  .c-contact-card .c-card__title-emphasis {
    font-size: 3rem;
  }
}
.c-contact-card .c-card__explanation {
  line-height: 1.6;
  max-width: 60ch;
  margin: 30px 30px 12px;
  color: #bbccdd;
}
@media (min-width: 1440px) {
  .c-contact-card .c-card__explanation {
    margin-left: 60px;
  }
}
.c-contact-card .c-button {
  background-color: #2c809c;
  border-radius: 30px;
  color: #edf1f7;
  display: inline-block;
  max-width: 210px;
  padding: 9px 15px;
  margin-left: 30px;
  margin-bottom: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 90ms ease-in;
}
.c-contact-card .c-button > svg {
  margin-left: 8px;
}
.c-contact-card .c-button:hover {
  background-color: #3da6c8;
  transition: all 0.4s ease-out;
  transform: scale(1.05);
}
.c-contact-card .c-button:hover > svg {
  transform: translateX(5px);
  transition: 0.4s ease;
}
.c-contact-card .c-button:active {
  transform: translateY(2px);
}
@media (min-width: 1440px) {
  .c-contact-card .c-button {
    margin-left: 60px;
  }
}
.c-contact-card .c-menu {
  align-items: flex-end;
  gap: 20px;
  bottom: 0;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  right: 0;
  padding: 0 30px 30px 0;
  position: absolute;
}
@media (min-width: 1440px) {
  .c-contact-card .c-menu {
    padding: 0 60px 50px 0;
  }
}
.c-contact-card .c-menu__item {
  margin-left: 15px;
  z-index: 3;
}
.c-contact-card .c-menu__item--index {
  position: absolute;
  right: 30px;
  top: 30px;
}
.c-contact-card .c-menu__toggle {
  background: transparent;
  border: 0;
  bottom: 30px;
  cursor: pointer;
  right: 30px;
  padding: 0;
  transition: all 150ms ease-in;
}
.c-contact-card .c-menu__toggle:active {
  transform: translateY(2px);
}
.c-contact-card .c-menu__toggle.is-active {
  pointer-events: none;
}
.c-contact-card .c-menu__toggle > * {
  pointer-events: none;
}

.c-footer__text {
  font: 400 0.9rem/1.12 "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  text-align: center;
  background-color: #0077ff;
  color: #edf1f7;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--b1);
}

body {
  overflow-x: hidden;
  background: var(--w1);
}

img[src$=".jpeg"] {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--w1);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-3);
}

/*# sourceMappingURL=style.css.map */
