@forward "variables";
@forward "utilities";
@forward "pages";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--b1);
}
body {
  overflow-x: hidden;
  background: var(--w1);
}
img[src$=".jpeg"] {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--w1);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-3);
}
