:root {
  --color-w: #ffffff;
  --color-1: #f7f7f7;
  --color-2: #ededed;
  --color-3: #dedede;
  --color-4: #cccccc;
  --color-5: #b2b2b2;
  --color-6: #9c9c9c;
  --color-7: #717171;
  --color-8: #595959;
  --color-9: #404040;
  --color-10: #2e2e2e;
  --color-11: #111111;
  --color-b: #000000;
  --color-p1: #0909EA;
  --color-p2: #0E17FD;
  --color-p3: #2F37FF;
  --color-p4: #3F80FF;
  --color-p5: #4EAEFF;
}

.color-w {
  color: var(--color-w);
}

.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}

.color-6 {
  color: var(--color-6);
}

.color-7 {
  color: var(--color-7);
}

.color-8 {
  color: var(--color-8);
}

.color-9 {
  color: var(--color-9);
}

.color-10 {
  color: var(--color-10);
}

.color-11 {
  color: var(--color-11);
}

.color-b {
  color: var(--color-b);
}

.color-p1 {
  color: var(--color-p1);
}

.color-p2 {
  color: var(--color-p2); 
}

.color-p3 {
  color: var(--color-p3);
}

.color-p4 {
  color: var(--color-p4);
}

.color-p5 {
  color: var(--color-p5);
}