@use "../01-variables/index" as *;
@use "../02-functions/index" as *;

.c-footer {
  &__text {
    font: 400 0.9rem/1.12 "Roboto", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    background-color: $p3;
    color: $white;
  }
}