@use "../01-variables/index" as *;
@use "../02-functions/index" as *;

.c-profile {
  padding: 70px calc((100% - 1440px) / 2);
  .c-resume {
    padding: 0 20px;
    &__description {
      font: font(20);
      line-height: 1.5;
      max-width: 110ch;
      margin: 40px auto;
      text-align: center;
      position: relative;
      &::after {
        content: "";
        width: 50px;
        height: 5px;
        bottom: -20px;
        right: calc(50% - 25px);
        background: $p3;
        position: absolute;
      }
      &::before {
        content: "";
        width: 150px;
        height: 1px;
        bottom: -18px;
        right: calc(50% - 75px);
        background: $b2;
        position: absolute;
      }
    }
  }
  .c-about {
    display: flex;
    justify-content: start;
    gap: 0 40px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 0 20px;
    .c-image {
      max-width: 400px;
      grid-row: 1 / 4;
      & > img {
        clip-path: circle();
      }
      @include responsive(desktop) {
        display: block;
        place-self: center;
        margin: 20px 0 30px;
      }
    }
    .c-job {
      &__title {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        color: $p3;
      }
      &__description {
        font-size: 1.125rem;
        line-height: 1.33;
        max-width: 80ch;
        margin-top: 8px;
        margin-bottom: 24px;
      }
    }
    .c-info {
      &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px 20px;
        margin-bottom: 24px;
        font-weight: 500;
        @include responsive(tablet) {
          grid-template-columns: 1fr;
        }
      }
      &__item {
        display: flex;
        align-items: center;
        gap: 4px;
        & > span {
          font: font(16, 4);
          letter-spacing: 0.05rem;
          text-transform: uppercase;
          color: $p4;
        }
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: $p4;
        }
        & .curriculo {
          background-color: $p3;
          border-radius: .5rem;
          padding: .5rem;
          margin-left: .25rem;
          transition: all .5s ease;
          &:hover {
            animation: heartbeat 1.5s ease-in-out both;
            background-color: $strong;
          }
        }
      }
    }
    .c-more {
      &__title {
        font: font(18, 4);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        color: $b1;
      }
      &__description {
        color: $b2;
        font-size: 1.125rem;
        line-height: 1.33;
        max-width: 80ch;
        margin-top: 8px;
      }
    }
    @include responsive(desktop) {
      flex-direction: column;
    }
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}