@use "../01-variables/index" as *;
@use "../02-functions/index" as *;

.c-skills {
  font: font(16, 2);
  letter-spacing: 0.08rem;
  position: relative;
  padding: 70px calc((100% - 1440px) / 2);
  &::after {
    @include background-r;
  }
  &::before {
    @include background-l;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    padding: 0 20px;
    margin-bottom: 20px;
    @include responsive(desktop) {
      display: none;
    }
  }
  &__label {
    cursor: pointer;
  }
  &__button {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: $s5;
    transition: transform 0.4s ease-in-out;
  }
  &__switcher {
    display: flex;
    align-items: center;
    width: 55px;
    height: 25px;
    padding: 4px;
    cursor: pointer;
    border-radius: 50px;
    background: $b3;
    transition: background 0.4s ease-in-out;
    &--active {
      background: $p5;
      .c-skills__button {
        transform: translateX(30px);
      }
    }
    &:not(&--active) {
      .c-skills__button {
        transform: translateX(0);
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    gap: 20px;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 200px;
    flex-grow: 200px;
    height: 200px;
    padding: 30px;
    box-shadow: 5px 10px 20px rgba(#000000, 0.1);
    background: $w2;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    &:hover .c-skills__content {
      transform: translateY(0px);
      transform: translateZ(50px);
      opacity: 1;
    }
  }
  &__content {
    transform: translateY(100px);
    opacity: 0;
    transition: 0.25s ease-in-out;
    h3 {
      margin-top: 8px;
    }
    &--active {
      opacity: 1;
      transform: none;
    }
    @include responsive(desktop) {
      opacity: 1;
      transform: none;
    }
  }
}
