// Components
// Aqui já começamos a criar nossos componentes de maneira mais específica. Aqui ainda é restrito para apenas o uso de classes.

@use "../01-variables/index" as *;
@use "../02-functions/index" as *;

.c-title {
  display: flex;
  justify-content: center;
  font: 700 2rem/1.33 "Roboto", Helvetica, Arial, sans-serif;
  color: $p3;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 44px;
  position: relative;
  &::after {
    content: "";
    width: 50px;
    height: 5px;
    bottom: -20px;
    background: $p3;
    position: absolute;
  }
  &::before {
    content: "";
    width: 150px;
    height: 1px;
    bottom: -18px;
    background: $b2;
    position: absolute;
  }
}

#contact .c-title{
  margin-bottom: 0 !important;
}