// Components
// Aqui já começamos a criar nossos componentes de maneira mais específica. Aqui ainda é restrito para apenas o uso de classes.

@use "../01-variables/index" as *;
@use "../02-functions/index" as *;

.c-title {
  display: flex;
  justify-content: center;
  font: font(32, 4);
  line-height: 1.33;
  color: $p3;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-bottom: 44px;
  position: relative;
  &::after {
    content: "";
    width: 50px;
    height: 5px;
    bottom: -20px;
    background: $p3;
    position: absolute;
  }
  &::before {
    content: "";
    width: 150px;
    height: 1px;
    bottom: -18px;
    background: $b2;
    position: absolute;
  }
}

.c-contact .c-title {
  margin-bottom: 0 !important;
}

.js-sectionAnime {
  opacity: 0;
  transform: translateX(-80px);
  transition: 0.5s ease-in-out;
  &.is-active {
    opacity: 1;
    transform: translateX(0px);
  }
}
