/* Home */

.intro {
  background: linear-gradient(var(--color-w) 20%, var(--color-p5) 95%);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  padding: 0 20px;
  text-align: center;
}

.intro-content {
  display: grid;
  justify-items: center;
}

.intro-content picture {
  margin-bottom: 16px;
}

.intro-content span {
  margin-top: 4px;
  margin-bottom: 120px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.header-content a > img {
  background-color: var(--color-p4);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--color-p1);
}

.header-content a:hover > img {
  background-color: aqua;
  transition: 0.2s;
}

/* *Profile */

.profile-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.profile-content picture > img {
  max-width: 256px;
  border-radius: 50%;
}

.profile-content picture {
  place-self: center;
}

.profile-content > h2 {
  grid-column: 2;
  justify-self: center;
}

.profile-text p + p {
  margin-top: 32px;
}

.profile-text {
  position: relative;
}

.profile-content .profile-text::before {
  content: "“";
  top: -40px;
  left: -40px;
}

.profile-content .profile-text::after {
  content: "”";
  right: 0px;
  bottom: -80px;
}

.profile-content .profile-text::after,
.profile-content .profile-text::before {
  /* font-style: italic; */
  font-size: 5rem;
  position: absolute;
  color: var(--color-p4);
}

/* Formação */

.graduate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-content: start;
}

.graduate > h2 {
  max-width: 4ch;
  word-break: break-all;
}

.graduate-paste-grad {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 40px;
  padding-right: 20px;
}

.paste-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  position: relative;
  background: var(--color-p5);
  box-shadow: -5px 5px 0 var(--color-p4);
}

.paste-items h2 {
  margin-bottom: 12px;
  display: grid;
}

.paste-items h1 {
  margin-bottom: 40px;
  flex: 1;
}

.paste-items::after {
  content: "";
  width: 20px;
  height: 70px;
  right: -20px;
  bottom: 20px;
  background-color: var(--color-p5);
  border-radius: 0 8px 8px 0;
  position: absolute;
}

.paste-items::before {
  content: "";
  width: 15px;
  height: 70px;
  right: -15px;
  bottom: 90px;
  background-color: var(--color-p4);
  border-radius: 0 8px 8px 0;
  position: absolute;
}

.graduate-content {
  display: grid;
  gap: 60px;
}

.graduate-content div > h3 {
  margin-bottom: 20px;
}

.graduate-list > li {
  margin-bottom: 8px;
  padding-left: 32px;
}

.graduate-list2 {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-left: 32px;
}

.graduate-course ul > li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.graduate-course a:hover {
  color: var(--color-p1) !important;
}

.graduate-course h3::before,
.graduate-language h3::before,
.graduate-competence h3::before,
.graduate-experience h3::before {
  content: "";
  width: 24px;
  height: 24px;
  top: 20px;
  display: inline-block;
}

.graduate-course h3::before {
  background: url(../../svg/course-icon.svg);
}

.graduate-language h3::before {
  background: url(../../svg/language-icon.svg);
}

.graduate-competence h3::before {
  background: url(../../svg/competence-icon.svg);
}

.graduate-experience h3::before {
  background: url(../../svg/experience-icon.svg);
}

.graduate-content div > h3 {
  display: flex;
  gap: 8px;
}

.graduate-experience ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* Skills */

.skills-content {
  display: grid;
  justify-items: center;
  gap: 60px; 
}

.skills-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

/* Projects */
#projects {
  background: linear-gradient(var(--color-w)5%, var(--color-p5) 60%);
}

.projects {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.projects > h2 {
  max-width: 3ch;
  word-break: break-all;
  grid-column: 2;
}

.projects-content {
  grid-row: 1;
  padding: 40px 0px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.buttons span:hover {
  background-color: aqua;
  transition: .2s;
}

.projects-content-items picture > img {
  width: 100%;
  border-radius: 10px;
}

.projects-content-items .buttons{
  margin-bottom: 20px;
}

.projects-content-items + .projects-content-items {
  margin-top: 80px;
}

/* Contact */

#contact {
  background: var(--color-p5);
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}

.contact-info {
  background: var(--color-p1);
  border-radius: 10px 0 0 10px;
  padding: 40px 60px;
}

.contact-contact {
  background: var(--color-p4);
  border-radius: 0 10px 10px 0;
  padding: 40px 60px;
}

.contact-contact > h2, 
.contact-info > h2 {
  margin-bottom: 60px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form div {
  display: grid;
}

.form input, 
textarea {
  padding: 6px 12px;
  background: var(--color-w);
  border: 1px solid var(--color-3);
  border-radius: 5px;
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.form div > input:focus,
textarea:focus {
  border: 1px solid var(--color-p1);
  box-shadow: 0 0 0 2px var(--color-p5);
  outline: none;
}

.contact-info > h3 + a {
  display: inline-block;
  margin-top: 12px;
  margin-left: 32px;
}

.contact-info > a:hover {
  color: var(--color-p5);
}

.contact-info > h3 {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}

.contact-info > ul {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 32px;
}

.contact-info-mail::before,
.contact-info-tel::before,
.contact-info-mid::before {
  content: '';
  width: 24px;
  height: 24px;
}

.contact-info-mail {
  background: url('../../svg/mail-icon.svg') no-repeat;
}

.contact-info-tel {
  background: url('../../svg/contact-icon.svg') no-repeat;
}

.contact-info-mid {
  background: url('../../svg/social-icon.svg') no-repeat;
}

#footer {
  background: var(--color-p1);
}

.footer {
  padding: 8px 0;
  text-align: center;
}