/* 1200 pixels */
/* 1000 pixels */

@media (max-width: 1000px) {
  .contact-info,
  .contact-contact {
    padding: 40px 20px;
  }
}

/* 800 pixels */

@media (max-width: 800px) {
  .u-padding__page {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .profile-content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .profile-content h2 {
    grid-column: initial;
    margin-bottom: 40px;
  }

  .profile-content > picture {
    margin-bottom: 80px;
  }

  .profile-content .profile-text::before {
    top: -50px;
    left: -4px;
  }

  .graduate {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .graduate h2 {
    max-width: max-content;
    word-break: initial;
    justify-self: center;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .projects-content {
    grid-row: initial;
  }

  .projects > h2 {
    grid-column: initial;
    word-break: normal;
    max-width: initial;
    text-align: center;
  }

  .projects-content {
    padding: 0px;
  }

  .contact {
    grid-template-columns: 1fr;
  }

  .contact-contact {
    border-radius: 0 0 10px 10px;
  }

  .contact-info {
    border-radius: 10px 10px 0 0;
  }

  .contact-info,
  .contact-contact {
    padding: 40px 30px;
  }
}

/* 600 pixels */

@media (max-width: 600px) {
  .skills-list li > img {
    width: 96px;
  }

  .u-padding__page {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .col-2 {
    grid-column: initial;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .competence-items {
    padding: 10px;
  }
}

/* 440 pixels */

@media (max-width: 440px) {
  .u-padding__page {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .paste-items::after,
  .paste-items::before {
    height: 60px;
    height: 60px;
  }

  .paste-items::before {
    bottom: 80px;
  }

  .graduate-paste-grad {
    gap: 30px;
  }

  .skills-list li > img {
    width: 64px;
  }

  .competence-items {
    font-size: 0.75rem;
    padding: 6px;
  }
}