.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.gradient-text {
  background: linear-gradient(#3f80ff 50%, #0909ea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.padding-page {
  padding-top: 120px;
  padding-bottom: 120px;
}

.bg-1 {
  background: linear-gradient(var(--color-w)10%, var(--color-p5) 90%);
}

.bg-2 {
  background: linear-gradient(var(--color-p5) 10%, var(--color-w) 90%);
}

.competence-items {
  text-transform: uppercase;
  font: 500 1rem/1.5 "Roboto", sans-serif;
  padding: 16px;
  background-color: var(--color-p4);
  border: 1px solid var(--color-p1);
  border-radius: 10px;
}

.button {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  width: max-content;
  padding: 8px 14px;
  background-color: var(--color-p4);
  border: 1px solid var(--color-p1);
  border-radius: 5px;
  color: var(--color-p1);
  text-transform: uppercase;
  font: 700 1rem/1.5 "Roboto", sans-serif;
}

.button2 {
  border: none;
  display: flex;
  gap: 8px;
  align-items: center;
  width: max-content;
  padding: 8px 14px;
  background-color: var(--color-p1);
  border-radius: 5px;
  color: var(--color-w);
  text-transform: uppercase;
  font: 500 1.25rem/1.2 "Roboto", sans-serif;
  cursor: pointer;
}

.button2:hover {
  background-color: var(--color-p3);
}

.col-2 {
  grid-column: 1 / -1;
}

strong {
  font-weight: 700;
  color: var(--color-p1);
  letter-spacing: 0.05em;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-p5);
}

::-webkit-scrollbar-thumb {
  background: var(--color-p1);
  border-radius: 25px;
}

@media (max-width: 600px) {
  .competence-items {
      padding: 10px;
  }
}

@media (max-width: 440px) {
  .competence-items {
      font-size: .75rem;
      padding: 6px;
  }
}