@use "../variables/index" as *;
@use "../utilities/index" as *;

.c-footer {
  &__text {
    font: 400 0.9rem/1.12 "Roboto", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    background-color: $primary-3;
    color: $w1;
  }
}