.graduate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-content: start;
}

.graduate > h2 {
  max-width: 4ch;
  word-break: break-all;
}

.graduate-paste-grad {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 40px;
  padding-right: 20px;
}

.paste-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  position: relative;
  background: var(--color-p5);
  box-shadow: -5px 5px 0 var(--color-p4);
}

.paste-items > h2 {
  margin-bottom: 12px;
  display: grid;
}

.paste-items > h1 {
  flex: 1;
  margin-bottom: 20px;
}

.paste-items::after {
  content: "";
  width: 20px;
  height: 70px;
  right: -20px;
  bottom: 20px;
  background-color: var(--color-p5);
  border-radius: 0 8px 8px 0;
  position: absolute;
}

.paste-items::before {
  content: "";
  width: 15px;
  height: 70px;
  right: -15px;
  bottom: 90px;
  background-color: var(--color-p4);
  border-radius: 0 8px 8px 0;
  position: absolute;
}

.graduate-content {
  display: grid;
  gap: 60px;
}

.graduate-content div > h3 {
  margin-bottom: 20px;
}

.graduate-list > li {
  margin-bottom: 8px;
  padding-left: 32px;
}

.graduate-list2 {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-left: 32px;
}

.graduate-course ul > li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.graduate-course a:hover {
  color: var(--color-p1) !important;
}

.graduate-course h3::before,
.graduate-language h3::before,
.graduate-competence h3::before,
.graduate-experience h3::before {
  content: "";
  width: 24px;
  height: 24px;
  top: 20px;
  display: inline-block;
}

.graduate-course h3::before {
  background: url(../../svg/course-icon.svg);
}

.graduate-language h3::before {
  background: url(../../svg/language-icon.svg);
}

.graduate-competence h3::before {
  background: url(../../svg/competence-icon.svg);
}

.graduate-experience h3::before {
  background: url(../../svg/experience-icon.svg);
}

.graduate-content div > h3 {
  display: flex;
  gap: 8px;
}

.graduate-experience ul {
  list-style-type: disc;
  list-style-position: inside;
}