.c-home {
  background: linear-gradient(var(--color-w) 20%, var(--color-p5) 95%);
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: center;
}

.c-home__nav {
  display: flex;
  justify-content: center;
}

.c-nav__content {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  padding: 20px;
  gap: 20px;
  position: fixed;
}

.c-nav__link {
  color: var(--color-p4);
  letter-spacing: 0.05rem;
  padding: 4px;
}

.c-nav__link:hover {
  color: var(--color-p1);
  transition: .4s;
}

.c-home__content {
  display: grid;
  align-content: center;
  height: 100vh
}

.c-home__title {
  margin: 16px 0 4px;
}

.c-home__subtitle {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
  .c-nav__content {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .c-home__image {
    place-self: center;
    width: 102px;
  }
  .c-nav__content {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .c-home__image {
    place-self: center;
    width: 82px;
  }
}

@media (max-width: 440px) {
  .c-nav__content {
    gap: 10px;
  }
}

@media (max-width: 200px) {
}