#projects {
  background: linear-gradient(var(--color-w)5%, var(--color-p5) 60%);
}

.projects {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.projects > h2 {
  max-width: 3ch;
  word-break: break-all;
  grid-column: 2;
}

.projects-content {
  grid-row: 1;
  padding: 40px 0px;
}

.projects-content-items > h2 {
  text-align: center;
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.buttons span:hover {
  background-color: aqua;
  transition: .2s;
}

.projects-content-items picture > img {
  width: 100%;
  border-radius: 10px;
}

.projects-content-items .buttons{
  margin-bottom: 20px;
}

.projects-content-items + .projects-content-items {
  margin-top: 80px;
}