@use "../01-variables/colors" as *;

$p1: var(--p1);
$p2: var(--p2);
$p3: var(--p3);
$p4: var(--p4);
$p5: var(--p5);
$s1: var(--s1);
$s2: var(--s2);
$s3: var(--s3);
$s4: var(--s4);
$s5: var(--s5);
$w1: var(--w1);
$w2: var(--w2);
$w3: var(--w3);
$b1: var(--b1);
$b2: var(--b2);
$b3: var(--b3);
$strong: var(--strong);
$project: var(--project);
$project-info: var(--project-info);
$white: var(--white);
$black: var(--black);
$gray: var(--gray);
$light-gray: var(--light-gray);

$linkedin: #0074b3;
$instagram: #e43f5d;
$github: #333333;